<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- MySQL JDBC Driver class -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- Enter database password -->
		<property name="hibernate.connection.password">MYSQL_PASSWORD</property>
		<!-- Entry for the mysql -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306</property>
		<!-- username of the database -->
		<property name="hibernate.connection.username">root</property>
		<!-- name of the schema or database -->
		<property name="hibernate.default_schema">MYSQL_DB_NAME</property>
		<!-- MySQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- If you make this show_sql value as true then it will print the queries -->
		<property name="hibernate.show_sql">true</property>
		<!-- When you add the below entry tables will be created automatically, 
			but remember it will drop and create each time you run -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- Adding the hibernate mapping file entry -->
		<mapping resource="in/javadomain/Author.hbm.xml" />
	</session-factory>
</hibernate-configuration>
